.major-container {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 60px;
    height: 40px;
}

.inner-square {
    border: 1px solid black;
    flex: 1;
}