body {
    padding: 50px;
}

.major-container {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 800;
    border: 1px solid black;
}

.row-container {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.inner-square {
    flex: 1;
}

.inner-square:hover {
    background-color: #ECECEC;
}