.major-container {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 60px;
    height: 40px;
}

.inner-square {
    flex: 1;
    transition: background-color 0.3s;
    border: 0.5px solid black;
}

.inner-square:hover {
    background-color: rgba(124, 124, 124, 0.548);
}